<template>
  <div v-if="childDataLoaded">
    <div class="load" v-show="load">
      <img src="/image/oval.svg" alt="">
    </div>

    <div class="catalog">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <card v-for="car in cars" :key="car.id" :car="car" :from="from" :to="to" :location="location" 
          />
          <div class="not-found d-flex flex-column align-items-center
             col-12 mb-100" v-if="cars.length !== 0">
              <h2>{{trans('vue.catalog.1')}}</h2>
              <p>{{trans('vue.catalog.2')}}</p>
              <button class="btn filter-btn" @click="clearAll">{{trans('vue.catalog.3')}}</button>
            </div>
          </div>
          <div class="col-lg-3">
            <filter-component :from="from" :to="to" :minPrice="minPrice" :maxPrice="maxPrice" :coordinates="coordinates" @delivery="delivery"/>
          </div>
       </div>
      </div>
    </div>
  </div>
</template>

<script>
  import FilterComponent from './FilterComponent'
  import CardComponent from './CardComponent'
  import axios from 'axios'

  export default {
    props: ['from', 'to', 'coordinates'],
  components: {
    'filter-component': FilterComponent,
    'card': CardComponent
  },
  data(){
    return {
      url: this.$store.getters.getUrl,
      childDataLoaded: false,
      minPrice: 0,
      maxPrice: 0,
      location: []
    }
  },
  computed: {
    cars() {
      return this.$store.getters.getCars;
    },
    load(){
      return this.$store.getters.getLoading;
    }
  },
  mounted() {
    this.$store.dispatch('setLoading', true);
    if (this.from || this.to || this.coordinates) {
      this.filterByProps();
    } else {
      this.initAvailableCars();
    }
  },
  methods: {
    clearAll: function(){
      this.$emit('clearAll')
    },
    filterByProps: function () {
      axios.post(`${this.url}/catalog/filter`, {
        from: this.from,
        to: this.to,
        coordinates: this.coordinates
      }).then(res => {
        this.$store.dispatch('setCars', res.data.cars);
        this.$store.dispatch('setLoading', false)
        this.childDataLoaded = true
      })
    },
    initAvailableCars: function () {
      axios.get(`${this.url}/catalog`)
        .then(res => {
          this.$store.dispatch('setCars', res.data.cars);
          this.$store.dispatch('setLoading', false);
          this.minPrice = res.data.minPrice
          this.maxPrice = res.data.maxPrice
          this.childDataLoaded = true          
        })
    },

    //Принимаем данные методов доставки с компонента фильтра
    delivery: function(val){
      this.location = val
    }
  }
}
</script>


