<template>
  <div class="filter">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>
            {{trans('vue.filter.1')}}
          </h2>
          <form class="form">
            <div class="form__primary">
              <div class="row">
                <div class="col-lg-12">
                  <div class="form__select">
                    <label class="label__text">{{trans('vue.filter.2')}}</label>
                    <vue-datepicker placeholder="select date" :format="format" :language="en" v-model="start.day" :disabledDates="start.disabledDates" @input="checkDates(); filter();"></vue-datepicker>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form__select">
                    <label class="label__text">{{trans('vue.filter.3')}}</label>
                    <vue-datepicker placeholder="select date" :format="format" :language="en" v-model="end.day" :disabledDates="end.disabledDates" @input="checkDates(); filter();"></vue-datepicker>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form__select">
                    <label class="label__text">{{trans('vue.filter.4')}}</label>
                    <vue-select placeholder="select..." :options="deliveryPlaces" v-model="deliveryPlacesSelected" @input="filter" :clearable="false">
                      <template slot="option" slot-scope="deliveryPlaces">
                          <span></span>
                          <p>{{ deliveryPlaces.label }}</p>
                      </template>
                    </vue-select>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="form__more" @click="toggleFilterSecondary">
                    <a class="btn filter-btn">{{ toggleFilterSecondary ? trans('vue.filter.5') : trans('vue.filter.6') }}</a>
                  </div>
                </div>
              </div>
            </div>
            <transition name="fade">
              <div class="form__secondary" v-show="filterSecondary">
                <div class="row">`
                  <div class="col-lg-12">
                    <div class="form__slider">
                      <label class="label__text">{{trans('vue.filter.8')}}</label>
                      <label class="label__btn" @click="toggleDayCost">
                        {{dayCost.value[0]}}$ - {{dayCost.value[1]}}$
                        <div class="clear" @click="clearDay(); filter()" v-show="![500, 25000].every(e => dayCost.value.includes(e))">
                          <div class="icon icon-cancel"></div>
                        </div>
                        <div class="down" :class="{ active: dayCost.visible, remove: ![500, 25000].every(e => dayCost.value.includes(e)) }"></div>
                      </label>
                      <transition name="fade">
                        <div class="form__slider__block" v-show="dayCost.visible">
                          <p>{{dayCost.value[0]}}$ - {{dayCost.value[1]}}$</p>
                          <vue-slider v-model="dayCost.value" :min="500" :max="25000" :interval="100" :tooltip-formatter="formatter" :enable-cross="false" @drag-end="filter(); toggleDayCost();"/>
                        </div>
                      </transition>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form__select">
                      <label class="label__text">{{trans('vue.filter.12')}}</label>
                      <vue-select class="multiply" placeholder="not chosen" :multiple="true" :options="featureList" v-model="featureSelected" @input="filter" :clearable="false">
                        <template slot="option" slot-scope="featureList">
                          <p>{{ featureList.label }}</p>
                        </template>
                      </vue-select>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form__select">
                      <label class="label__text">{{trans('vue.filter.13')}}</label>
                      <vue-select class="multiply" placeholder="not chosen" :multiple="true" :options="extraList" v-model="extraSelected" @input="filter" :clearable="false">
                        <template slot="option" slot-scope="extraList">
                            <p>{{ extraList.label }}</p>
                        </template>
                      </vue-select>
                    </div>
                  </div>
                </div>
              </div>
            </transition>
          </form>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import dayjs from 'dayjs'
  import VueSlider from 'vue-slider-component'
  import 'vue-slider-component/theme/antd.css'

  import vSelect from 'vue-select'
  import 'vue-select/dist/vue-select.css';
  import axios from 'axios';


  import Datepicker from 'vuejs-datepicker'
  import {en} from 'vuejs-datepicker/dist/locale'

  // Set the components prop default to return our fresh components
vSelect.props.components.default = () => ({
  Deselect: {
    render: createElement => createElement('span'),
  },
  OpenIndicator: {
    render: createElement => createElement('span'),
  },
});



export default {
  props: ['from', 'to', 'coordinates', 'minPrice', 'maxPrice'],
  components: {
    'vue-slider': VueSlider,
    'vue-select': vSelect,
    'vue-datepicker': Datepicker,
  },
  data(){
    return{
      url: this.$store.getters.getUrl,
      filterSecondary: false,
      formatter: '{value}$',
      format: 'dd-MM-yyyy',
      en: en,
      start: {
        day: dayjs().add(1, 'day').toDate(),
        disabledDates: {
          to: dayjs().subtract(1, 'day').toDate(),
          from: dayjs('2020-10-1').toDate(),
        }
      },
      end: {
        day: dayjs().add(7, 'day').toDate(),
        disabledDates: {
          to: dayjs().subtract(1, 'day').toDate(),
          from: dayjs('2020-10-1').toDate(),
        }
      },
      dayCost: {
        value: [],
        visible: false
      },
      deliveryCost: {
        value: [0, 2500],
        visible: false
      },
      deliveryPlaces: [],
      deliveryPlacesSelected: [],
      orderList: [
        {label: 'По возрастанию', value: 'asc'},
        {label: 'По убыванию', value: 'desc'},
      ],
      orderSelected: [],
      gearList: [],
      gearSelected: [],
      seatsList: [
        {label: 'Не важно', value: '0'},
        {label: '4 или больше', value: '4'},
        {label: '5 или больше', value: '5'},
        {label: '6 или больше', value: '6'},
        {label: '7 или больше', value: '7'},
        {label: '8 или больше', value: '8'},
      ],
      seatsSelected: '',
      featureList: [],
      featureSelected: [],
      extraList: [],
      extraSelected: [],
      newMinPrice: this.minPrice,
      newMaxPrice: this.maxPrice
    }
  },
  created() {
    this.$parent.$on('clearAll', this.clearAll);    
  },
  mounted(){  
    this.dayCost.value = [this.newMinPrice, this.newMaxPrice]
    
    if (this.from) {
      this.start.day = dayjs(this.from).toDate()
    }
    if (this.to) {
      this.end.day = dayjs(this.to).toDate()
    }  
    //Получаем список мест доставки
    axios.get(`${this.url}/catalog/locations`).then(res => {
      //Получаем name и id и приводим их к виду label и value соответсвенно(vue-select принимает только такие данные)
      res.data.forEach(el => {
        this.deliveryPlaces.push({
          'label': el.name,
          'value': el.id
        })
      });
    })  
    //Получаем список типов коробок передач
    axios.get(`${this.url}/catalog/gear-types`).then(res => {
      //Получаем name и id и приводим их к виду label и value соответсвенно(vue-select принимает только такие данные)
      res.data.forEach(el => {
        this.gearList.push({
          'label': el.name,
          'value': el.id
        })
      });
    })    
    //Получаем список опций
    axios.get(`${this.url}/catalog/options`).then(res => {
      //Получаем ru_name и en_name и приводим их к виду label и value соответсвенно(vue-select принимает только такие данные)
      res.data.forEach(el => {
        this.featureList.push({
          'label': el.ru_name,
          'value': el.en_name
        })
      });
    })  
    //Получаем список доп опций
    axios.get(`${this.url}/catalog/extra-options`).then(res => {
      //Получаем name и id и приводим их к виду label и value соответсвенно(vue-select принимает только такие данные)
      res.data.forEach(el => {
        this.extraList.push({
          'label': el.name,
          'value': el.id
        })
      });
    })    
  },
  watch: {
    //Следим за изминением выбраных мест доставки
    deliveryPlacesSelected: function(val){
      this.delivery(val);
    }
  },
  methods: {
    toggleFilterSecondary: function(){
      this.filterSecondary = !this.filterSecondary;
    },
    toggleDayCost: function(){
      this.dayCost.visible = !this.dayCost.visible
    },
    toggleDeliveryCost: function(){
      this.deliveryCost.visible = !this.deliveryCost.visible
    },
    clearDay: function(){
      this.dayCost.value = [500, 25000]
    },
    clearDelivery: function(){
      this.deliveryCost.value = [0, 2500]
    },
    filter: function(){      
      this.$store.dispatch('setLoading', true)
      //Массив опций на английском языке. Создаем массив который принимает backend. 
      let newFeaturedSelected = [];
      this.featureSelected.forEach(el => {
        newFeaturedSelected.push(el.value)
      });

      //Массив экстра опций состоящий из id. Создаем массив который принимает backend. 
      let newExtraSelected = [];
      this.extraSelected.forEach(el => {
        newExtraSelected.push(el.value)
      });


      let from;
      let to;
      if (dayjs(this.start.day).isValid()) {
        from = dayjs(this.start.day).format('YYYY-MM-DD HH:MM:ss')
      } else{
        from = ''
      }
      if (dayjs(this.end.day).isValid()) {
        to = dayjs(this.end.day).format('YYYY-MM-DD HH:MM:ss')
      } else{
        to = ''
      }

      axios.post(`${this.url}/catalog/filter`, {
        from: from,      
        to: to,
        order: this.orderSelected.value,
        minPrice: this.dayCost.value[0],
        maxPrice: this.dayCost.value[1],
        coordinates: this.coordinates,
        minPlaces: this.seatsSelected.value,
        selectedOptions: newFeaturedSelected,
        selectedExtraOptions: newExtraSelected,
        gear_id: this.gearSelected.value,
        city: this.deliveryPlacesSelected.value
      }).then(res => {
        this.newMinPrice = res.data.minPrice
        this.newMaxPrice = res.data.maxPrice
        this.dayCost.value = [this.newMinPrice, this.newMaxPrice]
        this.$store.dispatch('setCars', res.data.cars)
        this.$store.dispatch('setLoading', false)    
      })
    },    
    clearAll: function(){
      this.start.day = null
      this.end.day = null
      this.dayCost = {
        value: [500, 25000],
        visible: false
      }
      this.deliveryCost = {
        value: [0, 2500],
        visible: false
      }
      this.deliveryPlacesSelected = []
      this.orderSelected = []
      this.seatsSelected = []
      this.featureSelected = []
      this.extraSelected = []
      this.coordinates = []
      this.filter()
    },
    checkDates: function(){
      if (this.start.day > this.end.day) {
        setTimeout(() => {
          this.end.day = null
        }, 1000)
      }
    },
    //Создаем событие для передачи данных выбранного места доставки в компонент каталога
    delivery: function(val){
      this.$emit('delivery', val);
    }
  },
}
</script>



<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
