.intro
  background-size: cover
  background-position: 50% 50%
  height: 100vh
  padding-top: 470px
  position: relative
  display: flex
  align-items: flex-end
  padding-bottom: 50px
  +r($small)
    height: inherit
    padding-top: 120px
    padding-bottom: 50px
  h2
    width: 100%
    color: white
    font-size: 50px
    text-align: center
    margin-bottom: 60px
    position: relative
    z-index: 12
    +r($large)
      margin-bottom: 30px
  .car
    position: absolute
    top: 38%
    left: 50%
    width: 400px
    transform: translateX(-50%)
    z-index: 10
    img
      width: 100%
    +r($small)
      width: 250px
      top: 39%
  .text
    font-size: 150px
    font-family: Druk-Wide
    color: white
    position: absolute
    left: 50%
    top: 33%
    transform: translateX(-50%)
    text-transform: uppercase
    z-index: 9
    +r($medium)
      font-size: 100px
      top: 39%
    +r($small)
      font-size: 50px
      top: 43%