@font-face {
  font-family: "iconfont";
  src: url('/fonts/iconfont.eot');
  src: url('/fonts/iconfont.eot?#iefix') format('eot'),
    url('/fonts/iconfont.woff2') format('woff2'),
    url('/fonts/iconfont.woff') format('woff'),
    url('/fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-arrow: "\EA01";
$icon-calendar: "\EA02";
$icon-facebook: "\EA03";
$icon-instagram: "\EA04";
$icon-mark: "\EA05";
$icon-menu: "\EA06";
$icon-search: "\EA07";
$icon-star: "\EA08";
$icon-user: "\EA09";
$icon-vk: "\EA0A";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-arrow:before { content: $icon-arrow; }
.icon-calendar:before { content: $icon-calendar; }
.icon-facebook:before { content: $icon-facebook; }
.icon-instagram:before { content: $icon-instagram; }
.icon-mark:before { content: $icon-mark; }
.icon-menu:before { content: $icon-menu; }
.icon-search:before { content: $icon-search; }
.icon-star:before { content: $icon-star; }
.icon-user:before { content: $icon-user; }
.icon-vk:before { content: $icon-vk; }
