
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://use.fontawesome.com/releases/v5.7.2/css/solid.css');

@import url('https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css');

@import url('https://use.fontawesome.com/releases/v5.7.2/css/regular.css');

@import url('https://unpkg.com/filepond/dist/filepond.min.css');

@import url('https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css');

@import url('https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css');

@import url('https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css');


@import 'home/helpers/all';
@import 'home/generated/iconfont';
@import 'home/generated/sprite-svg';
@import 'home/generated/sprite-png';

@import 'app/catalog/all.sass';
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'jquery.arcticmodal-0.3';

@import 'main';

@import 'ui';

@import 'profile';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.invalid-feedback{
  display: inline-block !important;
}
body,main{
  background-color: white;
}
.filepond--root{
  width: 300px;
}

