.load
  position: fixed
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  z-index: 100
  background: rgba(0, 0, 0, 0.25)
  top: 0
  img
    width: 100px